body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    border-radius: 25px;
    border: 2px solid;
    border-color: #e5e7eb;
}

.team-image {
    max-width: 500px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.text {
    color: #e5e7eb;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 12px 188px;
}

.header-logo {
    color: #e5e7eb;
    font-size: 22px;
    font-weight: 800;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 22px 188px;
    background-color: #1f2937;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: wrap;
    width: 500px;
    gap: 1em;
}

.contact-info button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    border: none;
}

.contact-title {
    color: #e5e7eb;
    font-weight: 800;
    font-size: 34px;
    font-family: Roboto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 22px 200px;
    gap: 2em;
    background-color: #e5e7eb;
    text-align: center;
}

.main-content .text {
    color: #1f2937;
}

.main-content img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-bottom: 1em;
    border-color: #1f2937;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6bbc7;
    flex-direction: column;
    padding: 22px 200px;
}

.quote {
    font-size: 36px;
    font-family: Roboto;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-wrap: wrap;
    width: 500px;
}

.caeser {
    align-self: flex-end;
    font-family: Roboto;
    font-weight: 500;
    margin-right: 18em;
}

.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 60px 200px;
}

.actioncall {
    display: flex;
    border-radius: 10px;
    background-color: #3882f6;
    gap: 2em;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 94px;
    gap: 8em;
}

.actioncall .text-title {
    color: #e5e7eb;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
}

.actioncall button {
    background-color: #3882f6;
    border-radius: 5px;
    font-weight: 700;
    padding: 4px 12px;
    color: #e5e7eb;
    box-shadow: rgb(32, 28, 65, .3) 5px 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #1f2937;
    color: #e5e7eb;
}